.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f9;
}

.card {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  flex: 1;
}

.dropdown {
  border: 1px solid #ddd;
  margin-top: 5px;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.bill-list {
  margin-top: 20px;
}

.bill-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.bill-row button {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  text-align: right;
}


.back-btn {
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
}

.back-btn:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .card {
    width: 95%;
    padding: 20px;
  }

  .bill-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .input-group {
    flex-direction: column;
  }
}
